.l-wrapper{
  margin: 0 auto;
  width: 100%;
  @include bp(L){
    width: 600px;
  }
}

.l-main-container{
  background-size: 100% 100%;
  max-width: 100%;
  width: u(480px);
  height: u(300px);
  display: inline-block;
  box-sizing: border-box;
  padding: u(10px);

  &.l-game{
    background: url("../images/rps-game.png") no-repeat;
  }

  &.l-intro{
    background: url("../images/intro.png") no-repeat;
    vertical-align: middle;
    text-align: center;
    padding-top: 20%;
  }

  @include bp(M) {
    background: url("../images/rps.jpg") no-repeat;
    width: u(620px);
    height: u(387px);
  }
}

.l-intro-btn-container{
  margin-top: u(20px);
}

.l-game-buttons{
  vertical-align: middle;
  text-align: center;
  padding-top: 2%;
}
