.l-wrapper{
  margin: 0 auto;
  width: 100%;
  @include bp(L){
    width: u(600px);
  }
}

.l-header{
  width: 100%;
  min-height: u(50px);
  background: $grass;
  padding: u(10px);
  display: inline-block;
  border-bottom: u(3px) solid white;
  @include box-sizing;
  @include bp(L){
      margin: 0 auto;
  }
  nav{
    ul li{
      display: inline-block;
      text-transform: uppercase;
      font-size: u(14px);
      padding: u(10px);
      a{
        text-decoration: none;
        font-weight: bold;
        color: white;
      }
    }
  }
}

.l-main-container{
  background-size: 100% 100%;
  max-width: 100%;
  width: u(480px);
  height: u(300px);
  display: inline-block;
  padding: u(10px);
  margin-top: u(30px);
  @include box-sizing;

  &.l-game{
    @include bp(M){
      background: url("../images/rps-game.png") no-repeat;
    }
  }

  &.l-intro{
    @include bp(M){
      background: url("../images/intro.png") no-repeat;
    }
    vertical-align: middle;
    text-align: center;
    padding-top: 20%;
  }

  @include bp(M) {
    background: url("../images/rps.jpg") no-repeat;
    width: u(620px);
    height: u(387px);
  }
}

.l-intro-btn-container{
  margin-top: u(20px);
}

.l-game-buttons{
  vertical-align: middle;
  text-align: center;
  padding-top: 2%;
}

.l-results-container{
  text-align: center;
  margin-top: 32%;
  bottom: 0;
  background: $secondary-container;
  padding: u(10px);
  border: u(1px) solid white;
  p{
    font-size: u(16px);
  }
}
