// ----- Base IE classes ----- //
$IE8: lt-ie8;
$IE9: lt-ie9;

$l-breakpoint-S: 480px;
$l-breakpoint-M: 600px;
$l-breakpoint-L: 960px;

// colors
$dark:  #333030;
$ocean:  #2b90d9;
$grass: #3ac569;
$snow: #FFFFFF;
$salmon: #ff7473;


// Background color
$body: #28b4e5;
$secondary-container: #B2E0B0;
