body{
  font-family: 'Arvo', serif;
}

h1{
  font-size: u(18px);
}

h2{
  font-size: u(14px);
}

p{
  font-size: u(12px);
}

.c-bigger-text{
  font-size: u(20px);
}

.c-center{
  text-align: center;
}
